/**
*
*(c) Anteagroup 
*anteagroup.fr
*/


.or-appearance-geo-layer{
  /*.markername{
    font-size: small;
    width: max-content;
    transform: translateX(-50%);
    text-shadow: -0.8px 0 white, 0 0.8px white, 0.8px 0 white, 0 -0.8px white;
  }
  .option-wrapper {
        // avoid showing regular radiobuttons/checkboxes while image is loading
        display: none;
  }*/
}
